@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background: #ffe62c;
  -webkit-box-shadow: 0px 3px 15px -6px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 3px 15px -6px rgba(0, 0, 0, 0.84);
}

header nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .left .logo img {
  width: 180px;
}

header nav .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
}

header nav .right ul li {
  padding: .5em .7em;
  height: 100%;
  padding-top: 2.2em;
}

header nav .right ul li a {
  color: black;
  font-weight: 500;
}

header nav .right ul li:hover {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  cursor: pointer;
  background: #0fa87f;
}

header nav .right ul li:hover a {
  color: white;
}

footer {
  background: #0b4a4f;
  padding: 5em;
  margin-top: 2em;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em auto !important;
}

footer .footer-content .left, footer .footer-content .mid, footer .footer-content .right {
  width: 33%;
  margin: 0 .5em;
}

footer .footer-content .left {
  width: 350px;
}

footer .footer-content .mid .q-l ul li {
  line-height: 2.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}

footer .footer-content .mid .q-l ul li span {
  color: white;
  padding-right: 1em;
}

footer .footer-content .mid .q-l ul li a {
  color: white;
}

footer .footer-content .mid .q-l ul li .color-green {
  background: #0fa87f;
}

footer .footer-content .mid .q-l ul li a:hover {
  background: #0fa87f;
}

.q-l-title, .a-b-title, .a-s-l-title {
  margin-bottom: 1em;
}

.q-l-title span, .a-b-title span, .a-s-l-title span {
  color: #008cff;
}

.q-l-title p, .a-b-title p, .a-s-l-title p {
  color: white;
  font-size: 20px !important;
}

.address-txt {
  color: white;
  font-size: 16px;
  line-height: 1.6em;
  word-spacing: 10px;
  font-weight: normal;
}

.responsive {
  display: none;
}

.responsive .ham-menu {
  cursor: pointer;
  display: none;
}

.responsive .ham-menu .ham {
  width: 30px;
  height: 2px;
  background: black;
  margin-bottom: .5em;
}

.responsive .ham-menu #ham1 {
  width: 36px;
}

.responsive .ham-menu #ham3 {
  width: 28px;
}

.responsive .link-menu {
  display: none;
}

.ham-cross-menu {
  display: none;
  position: relative;
  height: 50px;
  -webkit-box-shadow: 0px 3px 15px -6px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 3px 15px -6px rgba(0, 0, 0, 0.84);
  background: #0fa87f;
  border-radius: 4px;
  width: 50px;
  cursor: pointer;
}

.ham-cross-menu p {
  font-size: 50px;
  position: absolute;
  top: -21.5px;
  right: 13px;
  color: white;
}

.link-menu {
  top: 100px;
  position: absolute;
  -webkit-animation-name: animate_left;
          animation-name: animate_left;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  right: 0;
  width: 100%;
  height: 95vh;
  background: #0b4a4f;
  border-bottom: 1px solid white;
}

.link-menu ul {
  display: block !important;
  text-align: center;
}

.link-menu ul li {
  line-height: 4em !important;
  height: 5em !important;
  padding: .5em 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}

.link-menu ul li a {
  color: white !important;
}

.d-none {
  display: none !important;
}

.d-show {
  display: block !important;
}

.c-txt {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: .5em;
}

.c-txt .copy-text {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 13px;
}

@-webkit-keyframes animate_left {
  0% {
    top: 100px;
    height: 40%;
  }
  100% {
    top: 100px;
    height: 100%;
  }
}

@keyframes animate_left {
  0% {
    top: 100px;
    height: 40%;
  }
  100% {
    top: 100px;
    height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .right .desktop {
    display: none;
  }
  .responsive {
    display: block;
  }
  .responsive .ham-menu {
    display: block;
    margin-top: .5em;
  }
}

@media only screen and (max-width: 1000px) {
  .footer-content {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    gap: 5%;
  }
  .footer-content .mid {
    width: 100% !important;
  }
  .footer-content .right {
    width: 100% !important;
  }
}

@media only screen and (max-width: 750px) {
  footer {
    padding: 2em !important;
    padding-bottom: 5em !important;
  }
  .footer-content {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
  }
  .footer-content .left, .footer-content .mid, .footer-content .right {
    width: 100% !important;
  }
}

@media only screen and (min-width: 800px) {
  #container {
    display: block !important;
  }
  #footer {
    display: block !important;
  }
}
/*# sourceMappingURL=home.css.map */