@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
// initial css
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Poppins';
    
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}

// end initial css

// header css

header{
    background:rgb(255, 230, 44);
    -webkit-box-shadow: 0px 3px 15px -6px rgba(0,0,0,0.84); 
    box-shadow: 0px 3px 15px -6px rgba(0,0,0,0.84);
    
    
    nav{
        width:90%;
        
        margin:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            .logo{
                img{
                    width:180px;
                }
            }

        }
        .right{
            
            ul{
                display: flex;
                height:95px;
                li{
                    
                    
                    padding:.5em .7em;
                    height:100%;
                    padding-top:2.2em;
                    
                    a{
                        color:rgb(0, 0, 0);
                        font-weight: 500;
                        
                    }
                }
                li:hover{
                    transition-duration: .3s;
                    cursor: pointer;
                    background:#0fa87f;
                    a{
                        color:rgb(255, 255, 255);
                    }
                    
                }
            }
        } 
    }
}

// end header css

// footer css

footer{
    background:#0b4a4f;
    padding:5em;
    margin-top:2em;
    .footer-content{
        
        display: flex;
        
        justify-content: space-between;
        margin: 1em auto !important;
        .left, .mid, .right{
            width:33%;
            margin:0 .5em;
        }
        .left{
            width:350px;
        }
       

        .mid{
            .q-l{
                ul{
                    li{
                        
                        line-height: 2.5em;
                        border-bottom:1px solid rgba(0, 0, 0, 0.288);
                        span{
                            color:white;
                            padding-right:1em;
                        }
                        a{
                            color:white;
                        }
                        .color-green{
                            
                            background:#0fa87f;
                        }
                        a:hover{
                            background:#0fa87f;
                            
                        }
                    }
                }
            }
        }
        
        
    }


    
}

// footer universel css for titles
.q-l-title, .a-b-title, .a-s-l-title{
    
    margin-bottom: 1em;
    span{
        color:rgb(0, 140, 255);
    }
    p{
        color:white;
        
        font-size:20px !important;
    }

}
.address-txt{
    
    color:white;
    font-size:16px;
    line-height: 1.6em;
    word-spacing: 10px;
    font-weight:normal;
    
}
// end footer css

//toggle nav css
.responsive{
    display:none;
    
    .ham-menu{
        cursor:pointer;
        display: none;
        .ham{
            width:30px;
            height:2px;
            background:black;
            margin-bottom: .5em;

        }
        #ham1{
            width:36px;

        }
        
        #ham3{
            width:28px;
        }
    }

    .link-menu{
        display: none;
    }
}
.ham-cross-menu{
    display: none;
    position: relative;
    height:50px;
    -webkit-box-shadow: 0px 3px 15px -6px rgba(0,0,0,0.84); 
    box-shadow: 0px 3px 15px -6px rgba(0,0,0,0.84);
    background:#0fa87f;
    border-radius: 4px;
    width:50px;
    cursor: pointer;
    p{
        font-size:50px;
        position:absolute;
        top:-21.5px;
        right:13px;
        color:white;
    }
    
}

.link-menu{
    top:100px;
    position:absolute;
    
    animation-name: animate_left;
    animation-duration: .5s;
    right:0;
    width:100%;
    height:95vh;
   
    background:#0b4a4f;
    border-bottom: 1px solid white;
    
    ul{
        
        display: block !important;
        text-align: center;
        li{
            line-height:4em !important;
            height:5em !important;
            padding:.5em 0 !important;
            
            border-bottom:1px solid rgba(0, 0, 0, 0.288);
            a{
                color:white !important;
            }
        }
    }
}

.d-none{
    display: none !important;
}
.d-show{
    display: block !important;
}
.c-txt{
    position: absolute;
    bottom:0;
    width:100%;
    padding-bottom: .5em;
    .copy-text{
        color:white;
        width:fit-content;
        margin:auto;
        font-size:13px;
    }
}

@keyframes animate_left{
    0% {top:100px; height:40%}
    
    100%{top: 100px;height:100%}
}
// end toggle nav css

// media querys

@media only screen and(max-width:800px){
    .right{
        .desktop{
            display:none;
        }
    }
    .responsive{
        display: block;
        
        .ham-menu{
            display: block;
            margin-top:.5em;
        }
    }
}
@media only screen and(max-width:1000px){
    .footer-content{
        display: grid !important;
        grid-template-columns: 40% 40%;
        gap:5%;
        .mid{
            width:100% !important;
        }
        .right{
            width:100% !important;
        }
    }
}
@media only screen and(max-width:750px){
    footer{
        padding:2em !important;
        padding-bottom: 5em !important;
        
    }
    .footer-content{
        grid-template-columns: 100% !important;
        
        .left, .mid, .right{
            width:100% !important;
        }
    }
}
@media only screen and(min-width:800px){
    #container{
        display: block !important;

    }
    #footer{
        display: block !important;
    }
}