*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:rgba(238, 237, 237, 0.733);
}
ul{
    border:1px solid violet;
    list-style: none;
}
a{
    border:1px solid lawngreen;
    text-decoration: none;
}

.container{
    width:95%;
    max-width:1600px;
    min-width:1250px;
    margin:1rem auto;
    border:1px solid blue;
   
    display: grid;
    grid-template-columns: 10% auto;
    gap:1rem;
    .sidebar{
        border:1px solid lightcyan;
        background:#fff;
        
        .logo{
            border:1px solid hotpink;
            width:40px;
            height:40px;
            background:rgba(156, 156, 156, 0.664);
            border-radius: 50%;
            margin:.7em;
            margin-top:1.5em;
            margin-left:35%;
            

           

            
        }

        ul{
            text-align: center;
            margin-top:5em;
            line-height: 3em;
            li{
                border:1px solid black;
                margin-top:.5em;
                
                a{
                    color:rgb(112, 112, 112);
                }
                div{
                    
                    width:20px;
                    height:20px;
                    margin-left:42%;
                    .icon-s{
                        height:20px;
                        
                        width:20px;
                        
                     
                    }
                }
                
                
            }
            li:hover, .active{
                background:rgba(214, 214, 214, 0.411);
                border-left:1px solid #2D87BF;
                a{
                    color:black;
                }
                
                
            }
        }
    }

    .main{
        display:grid;
        grid-template-columns: 65% auto;
        gap:1em;
        border:1px solid gold;
        background:#fafafa;

        .left{

            .s-1{
                border:1px solid salmon;
                .head{
                    border:1px solid slateblue;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input{
                        border:1px solid darkgoldenrod;
                        width:50%;
                        height:40px;
                        border-radius: 23px;
                        margin:1em;
                        
                        outline: none;
                        
                        border:none;
                        padding-left:2.2em;
                       
                    }
                    .btn{
                        display: flex;
                        border:1px solid gray;
                        width:17%;
                        height:30px;
                        min-width: 100px;
                        max-width:200px;
                        background:rgba(255, 255, 255, 0.74);
                        text-align: center;
                        padding:.3em;
                        border-radius: 5px;
                        font-weight: bold;
                        gap:.4em;
                        padding-left:1.8%;
                        
                    }
                }
            }
        }
    }
}

.btn{
    display: flex;
    border:1px solid gray;
    width:17%;
    height:30px;
    min-width: 100px;
    max-width:200px;
    background:rgba(107, 156, 187, 0.74);
    text-align: center;
    padding:.3em;
    border-radius: 5px;
    font-weight: bold;
    gap:.4em;
    padding-left:1.8%;
    
}

.icon{
        height:20px;
        width:20px;
        align-self: center;
        
}
select{
    
    background:none;
    border:none;
    outline:none;
    
    
}


.main{
    .s-2{
        border:1px solid gray;
        display: flex;
        justify-content: space-between;
        margin-left:1em;
        margin-top:1em;
        align-items:center;
        
        

        .btn{
            
            border:1px solid royalblue;
            width:19%;
            height:35px;
            text-align: center;
            min-width:150px;
            padding-left:1.7%;
            background:#2D87BF;
            color:#fff;
            border-radius: 4px;
            .icon{
                margin-left:.6em;
                padding-top:3px;
            }
            div{
                border:1px solid red;
                padding-top:4px;
            }
           
        }
    }

    .s-3{
        margin:1em 0 1em 1em;
        ul{
            display:flex;
            justify-content: space-between;

            .li-one{
                background:#DDF6F8;
            }
            .li-three{
                background:#E5E2FF;
            }
            li{

                width: 32%;
                height: 130px;
                border:1px solid blue;
                background-color: #FEEED7;
                
                div{
                    border:1px solid lightblue;
                    text-align:center;
                    margin-top:17%;
                    
                }
            }
        }
         
    }

    .s-4{
        margin:1em 0 1em 1em;
        .s-4-top{
            border:1px solid black;
            display:flex;
            justify-content: space-between;
            align-items: center;

            ul{
                
                display:flex;
                justify-content: space-between;
                li{
                    margin-right:2em;
                    font-size: 20px;
                }
                .active{
                    border-bottom:3px solid #2D87BF;
                }
            }
            .btn{
                font-family: 'Poppins';
                padding-left:1.5em;
                background:#f7f7f7;
                border-radius: 2px;
                
            }
        }
        .chart{
            margin-top:1.5em;
            width:100%;
        }
    }

    .s-5{
        margin:1em 0 1em 1em;
        display:flex;
        justify-content:space-evenly;

        .t-title{
            font-family: 'Poppins';
            color:#2D87BF;
            font-size: 15px;
            text-align: center;

        }

        ul{
            width:170px;
        }
        li{
            margin-top:1em;
            height:55px;
            padding-top:.9em;
            padding-left:.5em;
            border:1px solid rgb(24, 247, 255);
            
            
            background:white;

            

           
            
        }
    }

}
.right{
    margin:1em 0 1em 1em;

    header{
        display:flex;
        img{
            margin-left:60%;
            height:30px;
            width:30px;
            margin-right:1em;
        }
        
       
        .profile{
            display:flex;
            
            .profile-img{
                width:30px;
                height:30px;
                background:#2D87BF;
                border-radius: 50%;
                margin-right:.7em;
            }
            .title{
                p{
                    margin:0;
                    padding:0;
                }
                small{
                    font-size:12px;
                    padding-bottom: .9em;
                    
                }
            }
        }
    }
}

.card{
    margin:1em 1em 1em 1em;
    .card-title{
        border:1px solid rgb(121, 121, 0);
        align-items: center;
        display:flex;
        justify-content: space-between;
        
        h3{
            font-weight: bold;
            font-family: 'Poppins';
        }
    }
    .card-content{
        margin-top:1em;
        display:flex;
        width:100%;
        .atm-card{
            width:60%;
            height:200px;
        }
        img{
            width:40%;
        }
    }
}

.contacts{
    margin:2em 1em 1em 1em;
    .contact-title{

        display:flex;
        justify-content: space-between;
        padding-right:.4em;
    }
    .contact-content{
        margin-top:2em;

        img{
            width:60px;
            margin-right:.5em;
        }
    }
}

.activities{
    margin:2em 1em 1em 1em;

    .activities-title{
        border:1px solid #2D87BF;
        display:flex;
        justify-content: space-between;
        padding-right:.4em;
    }
    .activities-content{
        
        .one{
            border:1px solid rgb(121, 121, 0);
            display:flex;
            margin-top:1.5em;
            justify-content: space-between;
            
            border:1px solid gray;

            .ac-left{
                border:1px solid black;
                img{
                    width:70px;
                }
                display:flex;
                
                .title{
                    border:1px solid teal;
                    align-self:center;
                    margin-left:.9em;
                }
            }
            .ac-right{
                border:1px solid coral;
                align-self:center;
            }
        }
    }
}