<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js"></script>
    <title>Buy E-Ticket</title>
</head>
<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <img src="/images/logo-starline-group.webp" alt="">
                </div>
                <!-- <p class="logo-txt">STAR LINE BD</p> -->
            </div>
            <div class="right">
                <div class="desktop">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Cancel Ticket</a></li>
                    </ul>
                </div>
               <div class="responsive">
                   <div class="ham-menu" id="ham-menu" onclick="toggle_nav('ham-menu', 'cross-icon')" >
                       <div id="ham1" class="ham"></div>
                       <div id="ham2" class="ham "></div>
                       <div id="ham3" class="ham"></div>
                   </div>
                   <div class="ham-cross-menu" id="cross-icon" onclick="toggle_nav('cross-icon', 'ham-menu')">
                       <p>&Cross;</p>
                   </div>

                   <div class="link-menu" id="link-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Cancel Ticket</a></li>
                        </ul> 

                        <div class="c-txt">
                             <p class="copy-text">&copy; Copyright Start Line 2022 All Rights Reserved.</p>
                        </div>
                       
                   </div>
                    
               </div>


            </div>
        </nav>
    </header>

    <div class="container" id="container">

    </div>

    <footer id="footer">
        <div class="footer-content">

        
            <div class="left">
                <div class="about-start-line">
                    <div class="a-s-l-title">
                        <p><span>| A</span> BOUT STAR LINE</p>

                    </div>
                    <p class="address-txt">Green Line Paribahan is apparently a family owned transport company specializing in transportation of passenger bus services since 1990. From a humble beginning of local services, our transport system encompasses all reachable areas of Bangladesh and also beyond the border, extending our reach to Kolkata in India.</p>
                    </div>
            </div>

            <div class="mid">
                <div class="mid-contents">

                    
                    <div class="quick-links">
                        <div class="q-l-title">
                            <p><span>| Q</span> UICK LINKS</p>
                        </div>
                        <div class="q-l">
                            <ul>
                                <li><span>></span><a class="color-green" href="#"> Home</a></li>
                                <li><span>></span><a href="#"> Services</a></li>
                                <li><span>></span><a href="#"> About Us</a></li>
                                <li><span>></span><a href="#"> Contact Us</a></li>
                                <li><span>></span><a href="#"> Query </a></li>
                                <li><span>></span><a href="#"> Cancel Ticket</a></li>
                            </ul>
                        </div>
                </div>
                </div>
            </div>
            <div class="right">
                <div class="address-bar">
                    <div class="a-b-title">
                        <p><span>| A</span> DDRESS</p>
                        
                    </div>
                    <p class="address-txt">
                        GreenLine Paribahan
                        9/2, Outer Circular Road, Momen Bagh,
                        Rajarbagh, Dhaka-1217
                        Phone: 8315380
                        Email: greenline2009@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>