<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Buy E-Ticket</title>
</head>
<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <img src="/images/logo-starline-group.webp" alt="">
                </div>
                <!-- <p class="logo-txt">STAR LINE BD</p> -->
            </div>
            <div class="right">
                <div class="desktop">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Cancel Ticket</a></li>
                    </ul>
                </div>
               <div class="responsive">
                   <div class="ham-menu">
                       <div class="ham"></div>
                       <div class="ham"></div>
                       <div class="ham"></div>
                   </div>

                   <div class="link-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Cancel Ticket</a></li>
                        </ul> 
                   </div>
                    
               </div>


            </div>
        </nav>
    </header>

    <div class="container">

    </div>

    <footer>
        <div class="left">
            <div class="logo">
                <img src="/images/logo-starline-group.webp" alt="">
            </div>
        </div>

        <div class="mid">
            <div class="quick-links">
                <div class="q-l-title">
                    <p>QUICK LINKS</p>
                </div>
                <div class="q-l">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Cancel Ticket</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="address-bar">
                <div class="a-b-title">
                    <p>ADDRESS</p>
                    <p class="adress-txt">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum mollitia incidunt iste quod. Libero sit enim cumque itaque modi. Aliquid sed provident nobis saepe quas, vel ad dicta, aliquam corporis eum magnam voluptatibus numquam voluptatem iusto beatae nihil. Esse optio soluta nisi iure et hic aspernatur nulla porro modi eveniet.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>